// Specific CSS for your home-page
.home-container {
  background-color: $lg-sand;
  padding: 1em 3em;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  .title-large {
    font-size: 7em;
    transform: skewY(20%);
  }
  .body-text-large {
    font-size: 3em;
  }
}
