<div class="home-container">
  <p class="body-text-large">Hello I am Federica. I am a full-stack developer textetxt Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa similique optio rem autem harum quia, saepe nemo ullam culpa quas. Labore laboriosam magni ipsum ut perspiciatis? Saepe rem quae pariatur!</p>
  <h1 class="title-large">FULL STACK DEVELOPER</h1>
</div>
